.clothing-box {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    border: 3px solid black; 

    h1 {
    text-align: center; 
    };

    span {
    display: flex;
    align-items: center;
    align-content: space-around; 
    };  
    img {
        padding: 15px 0px 15px 100px; 
    }
    p {
        padding-left: 150px;
        padding-right: 50px; 
    }
}
  