$primary-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

.clothing-box {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
  
.clothes-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    span {
        width: 30%;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        align-items: center;
        align-content: space-around; 
        border: 1px solid black;
        box-shadow: 0 9px 13px -6px black;
        font-family: $primary-font;
    };  

    img {
        width: 40%;
    }

    p {
        margin-left: 15px;
        margin-right: 10px;
    }
}

