.clothing-box {
  margin: 0 auto;
  padding-top: 10px;

  padding-bottom: 10px;
  width: 70%;
  border: 3px solid black; }



.clothing-box h1 {
  text-align: center; }

.clothing-box span {
  display: flex; 

  align-items: center;
  align-content: space-around; }

.clothing-box img {
  padding: 15px 0px 15px 100px; }

.clothing-box p {
  padding-left: 150px;
  padding-right: 50px; }

  flex-wrap: wrap;
  justify-content: space-evenly; }
  .clothes-boxes span {
    background-color: white;
    width: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    align-items: center;
    align-content: space-around;
    border: 1px solid black;
    box-shadow: 0 9px 13px -6px black;
    border-radius: 10px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }
  .clothes-boxes img {
    width: 45%; }
  .clothes-boxes p {
    margin-left: 15px;
    margin-right: 10px; }
