.clothing-box {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px; }

.clothes-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .clothes-boxes span {
    width: 30%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    align-items: center;
    align-content: space-around;
    border: 1px solid black;
    box-shadow: 0 8px 6px -6px black; }
  .clothes-boxes img {
    width: 40%; }
