.input-boxes {
  display: flex;
  justify-content: center;
}

input {
  border-radius: 15px;
  text-align: center;
  background: white;
  margin-right: 5px;
  cursor: pointer;
}

input:focus {
  background: #c5cbe3;
  border: 1px solid black;
}

button {
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
}

button:focus {
  background: #c5cbe3;
}
