.hourlycontainer {
  width: 85%;
  display: flex;
  margin: 0 auto;
  margin-top: 50px; }

.hourly {
  width: 13%;
  height: 250px;
  font-size: 20px;
  margin: 0 auto;
  font-weight: bold;
  padding: .5%;
  margin-bottom: 50px;
  border-radius: 8%;
  background-color: rgba(255, 255, 255, 0.479);
  box-shadow: 0 9px 13px -6px black;
  border: 1px solid black;
  padding: 20px;
  margin-top: 10px; }
  .hourly img {
    width: 40px; }

.hourlybtn {
  margin-top: 75px;
  font-size: 40px;
  font-weight: bolder;
  height: 60px;
  width: 60px; }

.hourlybtn:hover {
  background-color: pink; }

@media (max-width: 1100px) {
  .hourlycontainer {
    width: 90%; }
  .hourly {
    font-size: 15px;
    height: 225px;
    word-wrap: break-word; }
  .hourlybtn {
    margin-top: 11%;
    width: 5%;
    height: 10%; } }

@media (max-width: 768px) {
  .hourlycontainer {
    width: 100%; }
  .hourly {
    width: 7%;
    height: 250px;
    font-size: 13px;
    height: 225px; }
  .hourlybtn {
    font-weight: bolder;
    height: 40px;
    width: 30px;
    margin-top: 18%;
    font-size: 13px; } }

@media (max-width: 500px) {
  .hourlycontainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0; }
  .hourly {
    width: 150px;
    height: 75px;
    font-size: 1px;
    margin-bottom: 0;
    font-weight: normal;
    font-family: initial;
    word-wrap: break-word; }
  .hourlybtn {
    width: 7%;
    height: 15%; }
  .prev {
    position: relative; } }

@media (max-width: 350px) {
  .hourlycontainer {
    width: 80%; }
  .hourly {
    width: 14%;
    height: 175px;
    font-size: 4px;
    font-weight: initial;
    word-wrap: break-word; } }
