.loading-logo {
    width: 400px;
    height: 300px;
    display: block;
    position: fixed;
    left: 35%;
    top: 40%;
    animation-name: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

 @keyframes spin {
     from {
        transform: rotate(0deg);
     }
     to {
        transform: rotate(360deg);
     }
 }
 .loading-text {
     text-align: center;
     padding: 10%;
     color: white;
 }

 @media(max-width: 500px) {
     .loading-logo {
         width: 200px;
         height: 200px;
     }
     .loadingpage {
        height: 50vh;
     }
 }
 .loadingpage {
    //  background-color: rgb(68, 107, 170);
    height: 100vh;
 }

 .loadingbtn {
     margin-right: 20px;
    //  border-color: rgb(140, 148, 163);
     border-color: black;
     border-width: thick;
    //  background-color: rgb(80, 85, 94);
    background-color: black;
     color: white;
    //  border: solid rgb(80, 85, 94);
    width: 150px;
    outline: none;
    
     
 }