.loading-logo {
    width: 300px;
    height: 200px;
    display: block;
    position: fixed;
    left: 70%;
    animation-name: spin;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

 @keyframes spin {
     from {
        transform: rotate(0deg);
     }
     to {
        transform: rotate(360deg);
     }
 }