.weather-box {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  background: white;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  box-shadow: 0 9px 13px -6px black; }

.city-box {
  height: 100%;
  width: 50%;
  border: black solid 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  margin: 0 auto;
  font-size: 45px;
  font-weight: bolder;
  padding-bottom: 25px; }

.city-box img {
  height: 40%;
  width: 40%; }

.category-box {
  padding-left: 20px;
  height: 100%;
  width: 50%;
  margin: 0 auto; }
  .category-box h1 {
    font-size: 45px; }
  .category-box p {
    margin-top: 55px;
    font-size: 25px; }
