body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.toggle > p {
  font-size: 10px;
  display: flex;
  justify-content: right;
  padding-right: 25px; }

body.light-mode {
  background-color: #88bdbc;
  color: black;
  transition: background-color 0.4s ease; }

body.dark-mode {
  background-color: #2F4454;
  color: #d79922;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: background-color 0.4s ease; }

a.light-mode {
  color: black; }

.dark-mode-toggle {
  display: flex;
  justify-content: center;
  margin: 0 auto; }

.toggle-control {
  position: relative;
  padding: 0 4px;
  display: flex;
  justify-content: right;
  padding-right: 25px; }

input[type='checkbox'].dmcheck {
  width: 40px;
  height: 20px;
  background: black;
  position: relative;
  border-radius: 25px;
  appearance: none;
  cursor: pointer; }
