.temp {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-size: xx-large; }

.humidity {
  display: flex;
  justify-content: center;
  margin-top: -20px; }

.description {
  display: flex;
  justify-content: center;
  margin-top: -18px; }

.App {
  text-align: center;
  background-image: linear-gradient(#446baa, white); }
  .App .App-header {
    font-size: x-large; }

.clothing-box {

  width: 100vh; }

.main-title {
  margin: 0;
  background-color: #446baa; }
