$headerColor: #282c34;

.temp {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-size: xx-large;
}

.humidity {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: -18px;
}

.App {
  text-align: center;
  .App-header {
    font-size: x-large;
  }
}

.clothing-box {
  width: 100vh;
}
