.temp {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-size: xx-large; }

.humidity {
  display: flex;
  justify-content: center;
  margin-top: -20px; }

.description {
  display: flex;
  justify-content: center;
  margin-top: -18px; }

.App {
  text-align: center; }
  .App .App-header {
    font-size: xx-large; }
    .App .App-header .toggle {
      display: flex;
      margin-bottom: -140px; }
