$headerColor: #282c34;

.temp {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  font-size: xx-large;
}

.humidity {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.description {
  display: flex;
  justify-content: center;
  margin-top: -18px;
}

.App {
  text-align: center;

  // background-image: linear-gradient(rgb(68, 107, 170), white);
  .App-header {
    font-size: xx-large;
    .toggle {
      display: flex;
      margin-bottom: -140px;
    }
  }
}

// .main-title {
//   margin: 0;
//   background-color: rgb(68, 107, 170);
// }
